body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: rgb(40, 44, 52);
}

body > #root {
    height: 100vh;
    display: flex;
}

#inner > pre {
    flex-grow: 1;
}
  
textarea {
    background: rgb(40, 44, 52);
    color: rgb(171, 178, 191);
    font-family: monospace;
    font-size: 13px;
    padding: 0.5em;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-right: 0;
    margin-left: 0;
    flex-grow: 1;
    border: 0;
    resize: none;
    outline: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    box-sizing: border-box;
}
  
.feather {
    stroke: blue;
    cursor: pointer;
}

.feather:hover {
    stroke: red;
}

.button {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.raw_code {
    color: white;
}

#inner {
    padding: 20px;
    display: flex;
    flex-grow: 1;
}
  
#menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: rgb(60, 64, 82);
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
}

